<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>ICT - Library Management System</title>
</head>
<body>

<section>


    <div class="container">
        <div class="container col-md-5" style="text-align: center">

            <h1 style="text-align: center">Authority Details</h1>

            <div class="card" style="width: 40rem; text-align: center">
                <img th:src="@{${'/image/' + alumniDTO.image}}"
                     class="single-card-img-top profile-image" alt="Not Available Image">
                <div class="card-body">
                    <div style="text-align: left">
                        <h5 class="card-title" th:text="${'Alumni Name: ' + alumniDTO.name}">

                        </h5>
                        <p class="card-title" th:text="${'Alumni Contact: ' + alumniDTO.contact}">
                        </p>
                        <u><p class="card-title" th:text="${'Alumni Email: ' + alumniDTO.email}"></p></u>
                        <p class="card-title" th:text="${'Alumni Session: ' + alumniDTO.session}"></p>
                        <p class="card-title" th:text="${'Alumni Designation: ' + alumniDTO.designation}"></p>
                        <p class="card-title" th:text="${'Alumni Work Place: ' + alumniDTO.workPlace}"></p>
                        <div class="row text-center" style="text-align: center">
                            <div class="col-md-1">
                                <a th:href="${alumniDTO.facebookLink}" class="btn flatiron-user" target="_blank"
                                   data-toggle="modal">
                                <span class="fa-brands fa-facebook">
                                </span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a th:href="${alumniDTO.linkedLink}" class="btn flatiron-user" target="_blank"
                                   data-toggle="modal">
                                <span class="fa-brands fa-linkedin">
                                </span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a th:href="${alumniDTO.githubLink}" class="btn flatiron-user" target="_blank"
                                   data-toggle="modal">
                                <span class="fa-brands fa-github">
                                </span>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{${'/blog/get/alumni/' + alumniDTO.id}}"
                                   class="btn flatiron-user btn-primary"
                                   data-toggle="modal">
                                    All Blogs
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>

</body>
</html>